@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Alkambek Temirlan</h1>
    <p>Защитите себя с  <a href="https://www.kaspersky.ru/">Антивирусом Касперского</a>.</p>
    <img src="~/img/sc.jpg" width="900" length="500" />
</div>
